/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file */

@font-face {
    font-family: 'AvenirnextcyrRegular';
    src: url('../fonts/avenirnextcyr-regular.eot');
    src: url('../fonts/avenirnextcyr-regulard41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenirnextcyr-regular.woff') format('woff'),
         url('../fonts/avenirnextcyr-regular.ttf') format('truetype'),
         url('../fonts/avenirnextcyr-regular.svg#avenirnextcyr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirnextcyrBold';
    src: url('../fonts/avenirnextcyr-bold.eot');
    src: url('../fonts/avenirnextcyr-boldd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenirnextcyr-bold.woff') format('woff'),
         url('../fonts/avenirnextcyr-bold.ttf') format('truetype'),
         url('../fonts/avenirnextcyr-bold.svg#avenirnextcyr-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirnextcyrDemi';
    src: url('../fonts/avenirnextcyr-bemi.eot');
    src: url('../fonts/avenirnextcyr-bemid41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenirnextcyr-bemi.woff') format('woff'),
         url('../fonts/avenirnextcyr-bemi.ttf') format('truetype'),
         url('../fonts/avenirnextcyr-bemi.svg#avenirnextcyr-bemi') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirnextcyrMedium';
    src: url('../fonts/avenirnextcyr-medium.eot');
    src: url('../fonts/avenirnextcyr-mediumd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenirnextcyr-medium.woff') format('woff'),
         url('../fonts/avenirnextcyr-medium.ttf') format('truetype'),
         url('../fonts/avenirnextcyr-medium.svg#avenirnextcyr-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}