/*
 * Navigation
 */
.nav-wrapper { position: relative; height: 40px; }

.nav {	
	position: fixed; top: 0; left: 0; z-index: 10;
	width: 100%; height: 40px; margin: 0 auto !important;
	line-height: 40px !important;
    text-align: center; background: #525252; }
.nav ul { list-style: none; padding: 0px; margin: 0px; }
.nav .nav-main-list li { display: inline; }
.nav .nav-main-list li a { 
    display: inline-block; margin: 0 20px;
    font-size: 15px; color: #fff; text-decoration: none;
    transition: all 0.15s ease-in 0s; }
.nav .nav-main-list li a:hover,
.nav .nav-main-list li a.active{ color: #000; }

/*
 * Header
 */
.header { width: 100%; background: #fff; z-index: 2; }
.header .logo-wrapper { float: left; padding: 30px 0 22px; }
.header .logo-wrapper .logo { display: inline-block; float: left; margin-top: -8px; }
.header .logo-wrapper .slogan {
    display: inline-block; position: relative; float: left; vertical-align: top;
	color: #000; line-height: 20px; margin: 0 0 0 30px; }
.header .slogan:before {
	content: ''; position: absolute; left: -15px; top: 3px; 
	background: #83818a; width: 1px; height: 100%; }
.header .phone { float: right; position: relative; text-align: right; padding-top: 20px; }
.header .phone .phone-number { font-size: 18px; }
.header .phone .red-link { font-size: 15px; color: #e91c3a; text-decoration: underline; cursor: pointer; }

/*
 * Main
 */
.main { position: relative; background: url(../img/layout/bg_main.jpg) 50% 70% no-repeat; height: 660px; }
.main .img-wrapper { position: relative; margin-top: 50px; }
.main .img-wrapper .desc { 
    position: absolute; top: 66px; left: 690px;
	font-family: 'AvenirnextcyrDemi'; font-size: 18px; width: 326px; height: 70px;
	padding-top: 12px; padding-left: 31px;
	background: url(../img/layout/main-offer-key.png) 50% 50% no-repeat; 
	-ms-transform: rotate(-10deg);  -webkit-transform: rotate(-10deg);  transform: rotate(-10deg); }
.main .title { font-family: 'AvenirnextcyrBold'; font-size: 70px; color: #333333; }
.main .description { font-family: 'AvenirnextcyrDemi'; font-size: 30px; margin: 10px 0; }
.main .price-before { display: inline-block; font-size: 27px; text-decoration: line-through; margin-right: 10px; }
.main .price-after { display: inline-block; font-family: 'AvenirnextcyrBold'; font-size: 33px; }
.main .btn-wrapper { display: inline-block; margin-top: 30px; }
.main .btn-wrapper .btn { padding-top: 40px; padding-bottom: 36px; } 
.main .timer { top: -13px; }
.main .finish-date { font-family: 'AvenirnextcyrDemi'; font-size: 18px; margin-top: 20px; }

/*
 * Features
 */
.features { background: url(../img/layout/bg/features-bg.jpg) 50% 0 no-repeat; height: 1000px; }
.features .title { font-family: 'AvenirnextcyrDemi'; font-size: 40px; margin: 80px 0 60px; }
.features .feature { display: inline-block; width: 276px; vertical-align: top; }
.features .feature .icon { width: 176px; height: 176px; margin: 0 auto; background: url(../img/layout/features-icon-sprite.png) no-repeat; }
.features .feature .name { font-family: 'AvenirnextcyrBold'; font-size: 16px; line-height: 24px; margin-top: 20px; }
.features .feature .desc { font-size: 16px; line-height: 24px; margin-top: 15px; }
.features .feature.result .name { color: #e91c3a; }
.features .feature.exp .icon { background-position: -177px 0; }
.features .feature.exp .name { color: #f7a213; }
.features .feature.price .icon { background-position: -354px 0; }
.features .feature.price .name { color: #218ac3; }
.features .feature.free .icon { background-position: -531px 0; }
.features .feature.free .name { color: #a2449c; }
.features .subtitle { font-size: 40px; margin: 30px 0; }
.features .feature.break .icon { background-position: 0 -177px; }
.features .feature.break .name { color: #3eb1ac; }
.features .feature.motiv .icon { background-position: -177px -177px; }
.features .feature.motiv .name { color: #26af61; }
.features .feature.club .icon { background-position: -354px -177px; }
.features .feature.club .name { color: #5952c2; }

/*
 * Features
 */
.programm { background: url(../img/layout/bg/programm-bg.jpg) 50% 0 no-repeat; padding-bottom: 60px; }
.programm .title { font-family: 'AvenirnextcyrDemi'; font-size: 40px; margin: 80px 0 30px; }
.programm .subtitle { font-size: 30px; }
.programm .left { margin-right: 65px; }
.programm .right { margin-left: 65px; }
.programm .arrow { 
	display: inline-block; width: 24px; height: 65px; margin: 10px 75px;
	background: url(../img/layout/programm-arrows.png) no-repeat; }
.programm .arrow.right { background-position: -25px 0; }
.programm .desc { 
	display: inline-block; position: relative; width: 33.333%; height: 260px; padding: 40px 22px;
	border-radius: 12px; font-size: 18px; text-align: left; line-height: 30px; }
.programm .desc.left { background: #e91c3a; color: #fff; margin-right: 65px; }
.programm .desc.right { background: #fbc910; margin-left: 65px; }
.programm .desc:after { 
	content: ''; display: inline-block; width: 502px; height: 24px; 
	position: absolute; bottom: -24px; left: 9px;
	background: url(../img/layout/programm-desc-arrows.png) no-repeat; }
.programm .desc.left:after { background-position: 0 -25px; }
.programm .name { 
	/*display: inline-block; width: 33.333%;*/ text-align:center; margin-top: 50px;
	font-family: 'AvenirnextcyrBold'; font-size: 24px; text-align: center; }
.programm .icon { /*display: inline-block; width: 33.333%;*/ margin-top: 30px; }
.programm .btn-wrapper { /*display: inline-block; width: 33.333%;*/ margin-top: 30px; }

/*
 * Reactive
 */
.reactive { background: url(../img/layout/bg/reactive-bg.jpg) 50% 0 no-repeat; height: 642px; }
.reactive .recommend { 
	display: inline-block; padding: 2px 10px; margin-top: 50px;
	color: #fff; background: #e91c3a; font-size: 16px; } 
.reactive .ul-wrapper { display: inline-block; float: left; margin-bottom: 20px; }
.reactive .course-price-before { position: absolute; top: 245px; right: 360px; }
.reactive .course-price-after { position: absolute; top: 300px; right: 360px; height: 102px; }
.reactive .course-price-after.right:after { border-width: 51px; margin-top: -51px; }

/*
 * Intensive
 */
.intensive { background: url(../img/layout/bg/intensive-bg.jpg) 50% 0 no-repeat; height: 643px; }
.intensive .course-title { margin-top: 65px; }
.intensive .ul-wrapper { display: inline-block; float: right; margin: 40px 0 20px; }
.intensive .course-price-before { position: absolute; top: 200px; left: 340px; font-size: 22px; }
.intensive .course-price-after { position: absolute; top: 270px; left: 325px; height: 106px; }
.intensive .course-price-after.left:after { border-width: 53px; margin-top: -53px; }
.intensive .course-price-after .count { font-size: 22px; }

/*
 * Free IELTS
 */
.free-ielts { background: url(../img/layout/bg/free-ielts-bg.jpg) 50% 0 no-repeat; }
.free-ielts .title { font-family: 'AvenirnextcyrDemi'; font-size: 60px; color: #fff; margin: 70px 0 30px; }
.free-ielts .info { display: inline-block; float: left; color: #fff; text-align: left; margin-top: 50px; }
.free-ielts .info .subtitle { font-size: 24px; line-height: 37px;  }
.free-ielts .info .description { font-size: 18px; line-height: 27px;  }
.free-ielts .info .finish-date { font-size: 24px; }
.free-ielts .info .timer { margin-top: 20px; }
.free-ielts .form-wrapper-std { display: inline-block; }

/*
 * General
 */
.general { background: url(../img/layout/bg/general-bg.jpg) 50% 0 no-repeat; height: 642px; }
.general .course-title { margin-top: 65px; }
.general .ul-wrapper { display: inline-block; float: left; margin: 40px 0 30px -10px; }
.general .course-price-before { position: absolute; top: 235px; right: 350px; }
.general .course-price-after { position: absolute; top: 290px; right: 350px; height: 102px; }
.general .course-price-after .count { font-size: 30px; margin-top: 4px; }
.general .course-price-after.right:after { border-width: 51px; margin-top: -51px; }

/*
 * Business
 */
.business { background: url(../img/layout/bg/business-bg.jpg) 50% 0 no-repeat; height: 642px; }
.business .course-title { margin-top: 60px; }
.business .ul-wrapper { display: inline-block; float: right; margin: 15px 0; }
.business .course-price-before { position: absolute; top: 220px; left: 340px; font-size: 30px; }
.business .course-price-after { position: absolute; top: 270px; left: 325px; height: 106px; }
.business .course-price-after.left:after { border-width: 53px; margin-top: -53px; }
.business .course-price-after .count { font-size: 30px; margin-top: 4px; }

/*
 * Kids
 */
.kids { background: url(../img/layout/bg/kids-bg.jpg) 50% 0 no-repeat; height: 770px; }
.kids .course-title { margin-top: 60px; }
.kids .ul-wrapper { display: inline-block; float: left; margin: 5px 0 0 -10px; }
.kids .course-price-before { position: absolute; top: 400px; right: 425px; color: #4d4d4d; }
.kids .course-price-after { position: absolute; top: 455px; right: 380px; height: 102px; }
.kids .course-price-after .count { font-size: 30px; margin-top: 4px; }
.kids .course-price-after.right:after { border-width: 51px; margin-top: -51px; }

/*
 * Preparation
 */
.preparation { background: url(../img/layout/bg/preparation-bg.jpg) 50% 0 no-repeat; height: 642px; }
.preparation .course-title { margin-top: 40px; }
.preparation .ul-wrapper { display: inline-block; float: right; margin: 20px 0; }
.preparation .course-price-before { position: absolute; top: 320px; left: 340px; font-size: 30px; }
.preparation .course-price-after { position: absolute; top: 370px; left: 325px; height: 106px; }
.preparation .course-price-after.left:after { border-width: 53px; margin-top: -53px; }
.preparation .course-price-after .count { font-size: 30px; margin-top: 4px; }

/*
 * Certificate
 */
.certificate {}

/*
 * Light
 */
.light { background: url(../img/layout/bg/light-bg.jpg) 50% 0 no-repeat; height: 744px; }
.light .title { font-family: 'AvenirnextcyrDemi'; font-size: 60px; color: #fff; margin: 70px 0 30px; }
.light .info { display: inline-block; float: left; color: #fff; text-align: left; margin-top: 50px; }
.light .info .subtitle { font-size: 24px; line-height: 37px;  }
.light .info .description { font-size: 18px; line-height: 27px;  }
.light .info .finish-date { font-size: 24px; }
.light .info .timer { display: inline-block; margin-top: 20px; }
.light .info .discount { 
	display: inline-block; background: #e91c3a;  width: 150px; height: 150px;
	padding: 33px 0; vertical-align: middle; text-align: center; border-radius: 200px;
	font-family: 'AvenirnextcyrBold'; font-size: 30px; color: #fff; }
.light .form-wrapper-std { display: inline-block; }

/*
 * Review
 */
.review {}

/*
 * Team
 */
.team { height: 650px; background: #f2f2f2; }
.team .title { font-family: 'AvenirnextcyrDemi'; font-size: 50px; margin: 70px 0 50px; }
.team .staff { display: inline-block; position: relative; width: 290px; height: 388px; margin: 0 40px; color: #fefefe; }
.team .staff:after {
	content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
	transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out; -webkit-transition: all 0.4s ease-in-out; }
.team .staff:hover:after {
	background: rgba(0,0,0,0.75);
	transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }
.team .staff .info { 
    position: absolute; width: inherit; z-index: 1; top: 50%; visibility: hidden;
    transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; }
.team .staff:hover .info { top: 33%; visibility: visible; }
.team .staff .info .name { font-size: 20px; }
.team .staff .info .pos { font-size: 18px; margin-top: 20px; }
.team .staff .info .uni { font-size: 18px; margin-top: 50px; }


/*
 * Contacts
 */
.contacts { background: #fff; }
.contacts .title { font-size: 50px; margin: 60px auto 30px; }
.contacts .link { font-size: 30px; color: #e91c3a; text-decoration: underline; cursor: pointer; }
.contacts .subtitle { font-size: 18px; margin: 30px auto; }
.contacts .phone { font-size: 40px; margin: 0 25px; }
.contacts .map { height: 400px; margin-top: 50px; }
.contacts .map .info { 
	position: absolute; width: 340px; height: 320px; background: #e91c3a; top: 50px; left: 100px;
	z-index: 401; font-family: 'AvenirnextcyrRegular'; font-size: 19px; color: #fff; padding: 20px 0; }
.contacts .map .info .label1 { font-family: 'AvenirnextcyrBold'; }
.contacts .map .info .label { font-size: 14px; margin-top: 20px; }

/*
 * Footer
 */
.footer table { width: 100%; }
.footer .logo-wrapper { width: 40%; text-align: left; padding: 40px 0 32px; }
.footer .logo-wrapper .logo { display: inline-block; float: left; margin-top: -8px; }
.footer .logo-wrapper .slogan {
    display: inline-block; position: relative; float: left; vertical-align: top;
	color: #000; line-height: 20px; margin: 0 0 0 30px; text-align: left; }
.footer .slogan:before {
	content: ''; position: absolute; left: -15px; top: 3px; 
	background: #83818a; width: 1px; height: 100%; }
.footer .social { text-align: center; padding: 30px 0; }
.footer .social .social-title { font-size: 18px; font-family: 'AvenirnextcyrMedium'; }
.footer .social ul { list-style: none; margin: 0; padding: 0; display: inline-block; }
.footer .social ul li { display: inline-block; vertical-align: top; margin: 8px 5px; }
.footer .social ul li a { display: inline-block; width: 35px; height: 35px; }
.footer .social .vk { background: url(../img/layout/sn/vk_icon.png) no-repeat; }
.footer .social .facebook{ background: url(../img/layout/sn/fb_icon.png) no-repeat; }
.footer .social .twitter { background: url(../img/layout/sn/tw_icon.png) no-repeat; }
.footer .social .instagram { background: url(../img/layout/sn/in_icon.png) no-repeat; }
.footer .creator { width: 40%; text-align: right; }
.footer .creator a { text-decoration: none; color: #000; }
.clearfix:after{
	content: '';
	clear:both;
	display: block;
	height:0;
}
.grid > .grid-1-3{
	float:left;
	width: 33.333%;
}

.grid > .grid-1-3 > .c_grid{
	margin: 0 20px;
}
