html { font-family: 'AvenirnextcyrRegular'; font-size: 14px; }

body { min-width: 1200px; }

.container { 
	position: relative; width: 1200px; z-index: 1; padding: 0 13px;
	margin-left: auto; margin-right: auto; }

.line-through { text-decoration: line-through; }

/*
 * View
 */
.view { z-index: 0; position: relative; overflow: hidden; text-align: center; }

/*
 * Input
 */
.form-wrapper-std { background: #fff; width: 500px; padding: 25px 0; }
.form-wrapper-std .form-title { font-family: 'AvenirnextcyrRegular'; font-size: 18px; margin-bottom: 20px; }
.form-wrapper-std input, .form-wrapper-std textarea { 
	width: 365px; height: 66px; border: 1px solid #b1b1b1; text-align: center;
	color: #424242; background: #fff; font-size: 18px; border-radius: 3px; margin-bottom: 15px;
	-webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; }
.form-wrapper-std textarea { padding: 10px 0; resize: none; }
.form-wrapper-std input::-webkit-input-placeholder { font-family: 'AvenirnextcyrRegular'; font-size: 18px; color: #a1a1a1; }
.form-wrapper-std input:-ms-input-placeholder { font-family: 'AvenirnextcyrRegular'; font-size: 18px; color: #a1a1a1; }
.form-wrapper-std input::-moz-placeholder { font-family: 'AvenirnextcyrRegular'; font-size: 18px; color: #a1a1a1; }
.form-wrapper-std textarea:-moz-placeholder { font-family: 'AvenirnextcyrRegular'; font-size: 18px; color: #a1a1a1; }
.form-wrapper-std textarea::-webkit-input-placeholder { font-family: 'AvenirnextcyrRegular'; font-size: 18px; color: #a1a1a1; }
.form-wrapper-std textarea:-ms-input-placeholder { font-family: 'AvenirnextcyrRegular'; font-size: 18px; color: #a1a1a1; }
.form-wrapper-std textarea::-moz-placeholder { font-family: 'AvenirnextcyrRegular'; font-size: 18px; color: #a1a1a1; }
.form-wrapper-std textarea:-moz-placeholder { font-family: 'AvenirnextcyrRegular'; font-size: 18px; color: #a1a1a1; }
.form-wrapper-std input:focus, .form-wrapper-std textarea:focus { 
	outline: none !important; box-shadow: 0 0 5px #e91c3a; border: 1px solid #e91c3a;}
.form-wrapper-std label { 
	display: block; margin: 5px auto; text-align: center;
	font-family: 'AvenirnextcyrBold'; font-size: 14px; color: #424242; }

/* 
 * Timer
 */
.timer { 
	display: inline-block; position: relative; color: #fff; background: #232323; text-align: center;
	padding: 13px 15px 16px;; opacity: 0.9; filter: alpha(opacity=90); height: 97px; }
.timer.left { margin-left: 42px; }
.timer.right { margin-right: 42px; }
.timer.left:before { 
	content: ''; display: inline-block; position: absolute; left: -30px; top: 0; width: 30px; height: 97px;
	background: url(../img/layout/timer-arrow-left.png) no-repeat; }
.timer.right:after { 
	content: ''; display: inline-block; position: absolute; right: -30px; top: 0; width: 30px; height: 97px;
	background: url(../img/layout/timer-arrow-right.png) no-repeat; }
.timer .count { font-family: 'AvenirnextcyrBold'; font-size: 28px; }
.timer .timer_desc { font-size: 12px; }
.timer .day_wrapp, .timer .hour_wrapp, .timer .min_wrapp, .timer .sec_wrapp {
    display: inline-block; vertical-align: top; position: relative; }
.timer .sec { color: #fe4552; }
.timer .hour_wrapp, .timer .min_wrapp, .timer .sec_wrapp { margin-left: 30px; }
.timer .hour_wrapp:before, .timer .min_wrapp:before, .timer .sec_wrapp:before {
	font-family: 'Times New Roman'; content: '/'; position: absolute; left: -25px; top: -7px; font-size: 61px; }

/*
 * Buttons
 */
.btn {
	position: relative; display: block; text-align: center; margin: 0 auto; cursor: pointer;
	box-sizing: content-box; font-family: 'AvenirnextcyrBold'; font-size: 20px; line-height: 26px;
	outline: 0; border-right: none; padding:24px 18px 20px 18px; width:328px; letter-spacing:.06em; }
.btn:focus { outline:0 }
.btn:active { margin: 4px auto 0; }
.btn.yellow {
	background:#FF5968; color: #fff;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#C70707),color-stop(100%,#FF5968));
	background:-webkit-linear-gradient(top,#C70707 0,#FF5968 100%);
	background:linear-gradient(to bottom,#C70707 0,#FF5968 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C70707', endColorstr='#FF5968', GradientType=0);
	border-bottom:4px solid #C70707;
	border-top:1px solid #C70707;
	border-left:1px solid #C70707; }
.btn.yellow:hover {
	background:#FF5968;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#FF5968),color-stop(100%,#C70707));
	background:-webkit-linear-gradient(top,#FF5968 0,#C70707 100%);background:linear-gradient(to bottom,#FF5968 0,#C70707 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5968', endColorstr='#C70707', GradientType=0);
	border-bottom-color:#C70707;
	border-top-color:#C70707;
	border-left-color:#C70707; }
.btn.yellow:active {
	background:#FF5968;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#FF5968),color-stop(100%,#C70707));
	background:-webkit-linear-gradient(top,#FF5968 0,#C70707 100%);background:linear-gradient(to bottom,#FF5968 0,#C70707 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5968', endColorstr='#C70707', GradientType=0);
	border-bottom-color:#C70707;
	border-top-color:#C70707;
	border-left-color:#C70707;}


.btn.red {
	background:#e91c3a;color: #fff;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fc3c58),color-stop(100%,#e91c3a));
	background:-webkit-linear-gradient(top,#fc3c58 0,#e91c3a 100%);
	background:linear-gradient(to bottom,#fc3c58 0,#e91c3a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc3c58', endColorstr='#e91c3a', GradientType=0);
	border-bottom:4px solid #bf001c;
	border-top:1px solid #ffb3be;
	border-left:1px solid #ff9baa; }
.btn.red:hover {
	background:#ff667d;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ff667d),color-stop(100%,#ff1537));
	background:-webkit-linear-gradient(top,#ff667d 0,#ff1537 100%);background:linear-gradient(to bottom,#ff667d 0,#ff1537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff667d', endColorstr='#ff1537', GradientType=0);
	border-bottom-color:#bf001c;
	border-top-color:#ffb3be;
	border-left-color:#ff9baa; }
.btn:active {
	background:#ff3755;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ff3755),color-stop(100%,#e90022));
	background:-webkit-linear-gradient(top,#ff3755 0,#e90022 100%);
	background:linear-gradient(to bottom,#ff3755 0,#e90022 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3755', endColorstr='#e90022', GradientType=0);
	border-top-color:#ffb3be;
	border-left-color:#ff9baa; border-bottom:none; }

/*
 * Popup
 */
.popup {
	position: relative; background: #fff; width: auto; max-width: 500px;
	padding: 30px 20px; border: 4px solid #fbd21a; margin: 0 auto; text-align: center; }
.popup .form-wrapper-std { width: auto; padding: 20px 0; }
.popup .form-wrapper-std input, .popup .form-wrapper-std textarea { background: #ebebeb; border: none; }
.popup .title { font-family: 'AvenirnextcyrDemi'; font-size: 32px; margin-bottom: 5px; }
.popup .subtitle { font-size: 18px; }

.popup.wide { width: 850px; max-width: 850px; }
.popup.wide .info { 
	display: inline-block; float: left; padding: 60px 10px;
	text-align: left; font-size: 18px; }
.popup.wide .info .price-before { text-decoration: line-through; }
.popup.wide .info .price-after { font-size: 24px; color: #e91c3a; }
.popup.wide .form-wrapper-std { display: inline-block; float: right; }

/*
 * Custom ul
 */
ul.red-square {
	font-size: 18px; line-height: 30px; text-align: left;
	list-style-image: url(../img/layout/ul-red-square.png); }
ul.red-square li { margin: 5px 2px; }


/*
 * Course
 */
.course-title { font-family: 'AvenirnextcyrDemi'; font-size: 50px; }

.course-price-before { display: inline-block; font-size: 30px; text-decoration: line-through; text-align: left; }
.course-price-after { display: inline-block; padding: 15px 20px; color: #fff; background: #e91c3a; text-align: left; }
.course-price-after .info { font-size: 18px; }
.course-price-after .count {  font-family: 'AvenirnextcyrBold'; font-size: 40px; }

.course-price-after.right { padding-left: 10px; }
.course-price-after.right:after {
	content: ""; position: absolute; right: 100%; top: 50%; height: 0; width: 0; pointer-events: none;
	border: solid transparent; border-right-color: #e91c3a; border-width: 30px; margin-top: -30px; }

.course-price-after.left { padding-right: 10px; }
.course-price-after.left:after {
	content: ""; position: absolute; left: 100%; top: 50%; height: 0; width: 0; pointer-events: none;
	border: solid transparent; border-left-color: #e91c3a; border-width: 30px; margin-top: -30px; }


/*
 * Box sizing: border-box;
 */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after { content: " "; /* 1 */ display: table; /* 2 */ }
.clearfix:after { clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix { *zoom: 1; }

.clear { clear: both; overflow: hidden; }